server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:db
    driver-class-name: org.h2.Driver
    username: root
    password: 12345678
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.sql: debug

jwt:
  secret: 4626379cadc10451644ebfc33bdef68192cd3edc423340f8c28758cd853dbfa3
  expire:
    access: 7200000      # 2시간
    refresh: 864000000   # 10일